node_modules
.pnpm-store
dist
!packages/registry/dist
build
.turbo
.DS_Store
apps/sandbox/test*
src/components/
src/services/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/sandbox/test
